@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i|Poppins:400,500,600,700,800&display=swap');

/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;*/

*{margin: 0;
padding: 0;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;}
body{font-family: 'Poppins', sans-serif;


}
.header{}
.navbar-brand {
    text-transform: capitalize;
    font-size: 25px;
   
    font-weight: 600;
}
.nav-link {color: black;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #9d8ec17d(0, 0, 0, 0.5);
}

a.text-dark:hover, a.text-dark:focus {
    color: #9d8ec17d !important;
}
h2{font-family: 'Playfair Display', serif;}
h1 {
    font-size: unset;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.about{background-image: url(../images/entrepreneur-593371_640.jpg);
background-repeat: no-repeat;
background-size: cover;
background-color: #5a80a259;
position: relative;}

.about::before{
        content: "";
    position: absolute;
    background: #756d6d73;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.vh-50{min-height: 85vh; }
.about .about-content h2 {
    font-size: 71px;
    font-weight: 800;
}
.about .about-content p {
    font-size: 27px;
    font-weight: 600;
}



.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color:#a8b94d45;
   
}

.btn-primary:hover {
    color: #fff;
    background-color: #a8b94d45;
    border-color: #0062cc33;
}
.larg-btn{background-color: #e4af5ead;}

.service{}
.vh-70{}

.service .service-content{text-align: center;}
.service .service-content h2 {
    font-weight: 700;
    font-size: 37px;
    padding-bottom: 15px;
}
.service-content p {
    color: #6d6f67b8;
}
.service .feature-1 {
    background: #FFFFFF;
    width: 260px;
    height: 180px;
}
.service .feature-2{
    background: #F9FAFC;
    width: 260px;
    height: 180px;
    
}
.service .feature-3{
    background: #F2F3F7;
    width: 260px;
    height: 180px;
    
}
.service .feature-4{
    background: #E9EBF1;
    width: 260px;
    height: 180px;
    
}
.service .feature-5{
    background: #F9FAFC;
    width: 260px;
    height: 180px;
    
}
.service .feature-6{
    background: #F2F3F7;
    width: 260px;
    height: 180px;
    
}
.service .feature-7{
    background: #E9EBF1;
    width: 260px;
    height: 180px;
    
}
.service .feature-8{
    background: #E1E2E8;
    width: 260px;
    height: 180px;
    
}

.feature span {
    padding: 34px 0 10px;
    font-size: 35px;
    text-align: center;
    display: block;
}
.feature h3{text-align: center;}
a.btn.btn-secondary.btn-lg.vh-90.rounded-pill {
    color: white;
    margin-left: 497px;
    margin-top: 48px;
}


.shadow-lg {
    box-shadow: 0px 100px 100px -64px rgba(0, 0, 0, 0.3) !important;
}



.how-do-i-know {
    margin-top: 97px;
}
.vedio{}
.how-do-i-know-content {
   
    padding: 0 174px 0;
}


.how-do-i-know-heading {
    padding: 0 0 49px;
}



.how-do-i-know-heading h2 {
    font-size: 41px;
    width: 500px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.how-do-i-know-content-1 {
    padding: 20px;
    background: #dce3e8ab;
}
.how-do-i-know-content-1 span {
    transform: translateY(79px);
   
    display: inline-block;
    font-size: 18px;
}

.how-do-i-know-content-1 h3 {
    font-size: 16px;
    word-break: 10px;
    word-spacing: 9px;
    font-weight: 600;
}
.how-do-i-know-content-2 {
    padding: 27px;
    width: 571px;
    background: #dce3e8ab;
    margin: 18px 0;
}

.how-do-i-know-content-2 p {
    font-size: 15px;
}

a.btn.btn-secondary.btn-lg.how-do-i-know-content-2-btn.rounded-pill {
 
 
    display: block;
    margin-left: 173px;
}
.buisness-news{}
.buisness-news .buisness-news-content {
    color: blue;
    transform: translateY(-250px);
}

a:not([href]):not([tabindex]) {
    text-decoration: none;
    color:white;
}

.carousel
{
background-color: #5a80a259;
position: relative;}

.carousel ::before{
        content: "";
    position: absolute;
    background: #756d6d73;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}